.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: linear-gradient(#121212, #212b46);
}

.title{
    font-size: 85px;
    animation: spinTitle 1.5s;
}

@keyframes spinTitle{
    from{
        transform: rotateX(90deg)
    }

    to{
        transform: rotatex(0deg)
    }
}

.main{
    margin-top: 30px;
    line-height: 30px;
}

.containerInput{
    background-color: rgba(266, 255, 255, 0.2);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 3px 8px rgba(0,0,0, 0.5);
}

.containerInput input {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: white;
    outline: none;
    margin-right: 8px;
}

.containerInput input::placeholder{
    color: white;
}

.buttonSearch{
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
    color: white;
}

.buttonSearch:hover{
    transform: scale(1.1);
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: aliceblue;
    color: black;
    padding: 50px;
    font-size: 20px;
    border-radius: 10px;
    line-height: 45px;
}

.main h2{
    font-size:  45px;
}

@media (width <= 720px)  {
    .title{
        font-size: 50px;
        margin-bottom: -3vh;
    }

    .containerInput input{
        font-size: 15px;
    }

    .buttonSearch{
        scale: 0.7;
       
    }

    .main{
        font-size: 17px;
        padding: 10px;
        margin-top: -1vh;
    }
    
    .main h2{
        font-size: 35px;
    }
}

@media (width <= 420px){
    .title{
        font-size: 35px;
    }

    .containerInput input{
        font-size: 12px;
    }

    .buttonSearch{
        scale: 0.5;
       
    }

    .main{
        font-size: 14px;
        padding: 8px;
        margin-top: -1vh;
    }
    
    .main h2{
        font-size: 31px;
    }
}
